<ion-view view-title={{'etiqueta_galeria' | translate}}>
    <ion-content padding="true" class="card-background-page">

        <!--Listado de Albumes-->
        <ion-card class="card" ng-repeat="album in gallery">
            <!--<div class="content"> -->
            <!--TO DO poner una imagen del album de fondo-->
            <img ng-src="https://farm{{album.farm}}.staticflickr.com/{{album.server}}/{{album.primary}}_{{album.secret}}_n.jpg"
                 ng-click="onAlbumClick('{{album.id}}')" />
                 <div class="titles-gallery">
            <div class="card-title">{{album.title._content}}</div>
            <!--ver de que no sea muy grande porque sino va a sobrepasar la imagen, 
            deberia mostrar hasta un punto y luego "..." -->
            <div class="card-subtitle">{{album.count_comments}} {{'etiqueta_comentarios' | translate}} - {{album.count_views}} {{'etiqueta_vistas' | translate}}</div>
            </div>
           <!-- </div>-->
        </ion-card>

    </ion-content>
</ion-view>