/* Empty. Add your own CSS if you like */
/*ion-card {
    text-align: center;
    margin: auto;    
  }

  div.card-title {
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #000;
    position: relative;
  }

  div.card-subtitle {
    font-size: 1.0em;
    width: 100%;
    color: #000;
    position: relative;
  }
  .content > img{
  	margin-right: auto;
  	margin-left: auto;
  	border-radius: 6px 6px 6px 6px;
  	  }*/


.card-background-page ion-card {
    position: relative;
    text-align: center;
    margin: auto;
  }

.card-background-page ion-card .titles-gallery .card-title {
    position: relative;
    top: -12%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #000;
  }

.card-background-page ion-card .titles-gallery .card-subtitle {
    font-size: 1.0em;
    position: relative;
    top: -10%;
    width: 100%;
    color: #000;
  }

  .titles-gallery {
    background-color: #fff;
    opacity: 0.5;
    position: relative;
    display: flex;
    top: -13%;
  }

.card-background-page ion-card img {
  margin-right: auto;
    margin-left: auto;
    border-radius: 6px 6px 6px 6px;
    display: flex;
}